@model HomeViewModel


<div id="carouselImages" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Images/car1.png" class="d-block w-100" alt="Carousel image 1">
        </div>
        <div class="carousel-item">
            <img src="~/Images/car2.png" class="d-block w-100" alt="Carousel image 2">
        </div>
        <div class="carousel-item">
            <img src="~/Images/car3.png" class="d-block w-100" alt="Carousel image 3">
        </div>
    </div>
</div>

<div class="text-center">
    <img src="Images/hanias_bookstore_logomark.png" class="logo-mark mx-auto" />
    <h1>Bestsellers</h1>
    <h5>Check what people are reading rigth now</h5>

    <div class="row pies-of-the-week">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var book in Model.Bestsellers)
            {
                <div class="col">
                    <div class="card pie-card">
                        <img src="@book.CoverURL" class="card-img-top" alt="@book.Title">
                        <div class="card-body pie-button">
                            <h4 class="d-grid">
                            </h4>

                            <div class="d-flex justify-content-between mt-2">
                                <h2 class="text-start">
                                    <a asp-controller="Pie"
                                       asp-action="Details"
                                       asp-route-id="@book.Id"
                                       class="pie-link">@book.Title</a>
                                </h2>
                                <h5 class="text-nowrap">
                                    @book.Price.ToString("c")
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
